#app_container{
    height: 611px;
    width: 900px;
    background-image: url("images/drumset2.jpg");
    margin: 0 auto 0;
    /*outline: 2px solid springgreen;*/
}
#drum_line{
    position: absolute;
    left: 285px;
    display: flex;
    justify-content: center;
    margin-top: 30%;
    /*outline: 2px solid red;*/
}
span.drum{
    background-color: white;
    text-align: center;
    height: 55px;
    width: 55px;
    padding: 5px;
    margin: 5px;
    border-radius: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    /*animation-name: playing;*/
}
.anim{
    animation-name: playing;
    animation-duration: 0.2s;
}
@keyframes playing{
    0% {
        padding: 5px;
        background: yellow;
          }
    25% {
        padding: 7px;
        background: yellow;
          }
    50% {
        padding: 5px;
        background: yellow;
          }
    75% {
        padding: 6px;
        background: yellow;
          }
    100% {
        padding: 5px;
        background: yellow;
          }
}
b{color: firebrick;}